{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block content %}
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div>
      <h1>Login</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Login</button>
      </form>
    </div>
  </main>
{% endblock content %}
