{% extends 'base.html' %}
Accounts
{% block title %}

{% endblock title %}


{% block content %}
  <header>
    <nav>
      <a href="{% url 'logout' %}">Logout</a>
      <a href="{% url 'home' %}">Receipts</a>
      <a href="{% url 'category_list' %}">Categories</a>
      <a href="{% url 'create_account' %}">Create Account</a>
    </nav>

  </header>
 <main>
  <div>
    <h1>Accounts</h1>
    <table>
      <thead>
        <th>Name</th>
        <th>Number</th>
        <th>Number of receipts</th>
      </thead>
      <tbody>
        <!-- for category in functionkey.relatedname.all-->
        {% for account in accounts %}
        <tr>
          <td>{{account.name}}</td>
          <td>{{account.number}}</td>
          <td>{{account.receipts.all|length}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
 </main>
{% endblock content %}
