{% extends 'base.html' %}
Categories
{% block title %}

{% endblock title %}


{% block content %}
  <header>
    <nav>
      <a href="{% url 'logout' %}">Logout</a>
      <a href="{% url 'home' %}">Receipts</a>
      <a href="{% url 'account_list' %}">Accounts</a>
      <a href="{% url 'create_category' %}">Create Category</a>
    </nav>
  </header>
 <main>
  <div>
    <h1>Categories</h1>
    <table>
      <thead>
        <th>Name</th>
        <th>Number of receipts</th>
      </thead>
      <tbody>
        <!-- for category in functionkey.relatedname.all-->
        <!-- Make sure you have one owner per category, account, and receipt -->
        {% for category in categories %}
          <tr>
            <td>{{category.name}}</td>
            <!-- Loop through to pull the number of receipts for the -->
            <td>{{category.receipts.all|length}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
 </main>
{% endblock content %}
