{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}


{% block content %}
  <header>
    <nav>
      <a href="{% url 'logout' %}">Logout</a>
      <a href="{% url 'create_receipt' %}">Create Receipt</a>
      <a href="{% url 'category_list' %}">Categories</a>
      <a href="{% url 'account_list' %}">Accounts</a>
    </nav>
  </header>

  <main>
    <h1>My Receipts</h1>
    <table>
      <thead>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Date</th>
        <th>Category</th>
        <th>Account</th>
      </thead>
      <tbody>
        {%for receipt in receipt_list%}
        <tr>
          <td>{{receipt.vendor}}</td>
          <td>{{receipt.total}}</td>
          <td>{{receipt.tax}}</td>
          <!--https://docs.djangoproject.com/en/4.0/ref/templates/builtins/#std-templatefilter-date-->
          <td>{{receipt.date|date:"m/d/y"}}</td>
          <td>{{receipt.category}}</td>
          <td>{{receipt.account}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock content %}
